@import "~@the-coin/site-semantic-theme/variables.less";

.mainMenuContainer{
    width: auto;
    display: inline-block;
    height: 60px;
    .ui.secondary.pointing.menu{
        border-bottom: none;   
    }
    #logo{
        width: 40px;
    }
}

#userMenu{
    width: 330px;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    color: @theCoinPaletteGray1;
    text-align: left;

    >.active{
        color: red;
    }
    > a{
        border-bottom: 1px solid @theCoinPaletteGreen4Faded !important;
        height: 65px !important;
        line-height: 40px !important;
        
    }
}