@import "~@thecointech/site-semantic-theme/variables.less";

// Separate out the column declaration to allow re-use throughout the app
#landing {

  display: grid;
  grid-gap: 0px;
  grid-template-rows: .scalable(80, 90)[@result] 1fr minmax(500px, auto);
  grid-template-columns: auto @pageGridContent auto;
  grid-template-areas:
    "lgap lefth header righth rgap"
    "lgap main  main   main   rgap"
    "lgap leftf footer rightf rgap";

  // Custom selector because iframe does not use our breakpoints
  @media only screen and (max-width: 837px) {
    grid-template-rows: .scalable(80, 90)[@result] 1fr 600px;
  }

  .smallScreen({
    grid-template-rows: 80px 1fr 730px;
    grid-template-columns: 15px 1fr 10px;
    grid-template-areas:
      "lefth header righth"
      "main  main   main"
      "lgap footer rgap"
  });

  .contentContainer {
    grid-area: main;

    // Explicitly define a min-height to prevent our content
    // resizer from collapsing down if our content is too small
    min-height: 450px;
  }
}
