@import "~@thecointech/site-semantic-theme/variables.less";

#landing {

  display: grid;
  grid-template-columns: auto .scalable(20, 136)[@result] minmax(auto, 1173px) .scalable(20, 131)[@result] auto;
  grid-template-rows: .scalable(80, 90)[@result] 1fr 451px;
  grid-template-areas:
    "lgap left header right rgap"
    "lgap left main   right  rgap"
    "lgap left footer right rgap";

  .smallScreen({
    grid-gap: 0px;
    row-gap: 15px;
    grid-template-rows: 80px 125px 1fr 115px 250px;
    grid-template-columns: 15px 1fr 10px;
    grid-template-areas:
    "lgap header        rgap"
    "lgap widget-top    rgap"
    "lgap main          rgap"
    "lgap widget-bottom rgap"
    "lgap footer        rgap"
  });


  max-width: @maxContentWidth;
  margin: auto;

  > div:nth-child(1) {
    border-bottom: 1px solid @linkColor;
    box-shadow: 0px 5px grey;
    width: 100%;

    -webkit-box-shadow: 3px 0px 17px 10px rgba(161,161,161,0.68);
    -moz-box-shadow: 3px 0px 17px 10px rgba(161,161,161,0.68);
    box-shadow: 3px 0px 17px 10px rgba(161,161,161,0.68);
  }

  .appContainer{
    margin: 0;
    width: 100%;
  }

  .pageMainInner {
    min-height: 250px;
    padding: 0em;
  }

  .pageMainInner > div {
    width: inherit;
    height: inherit;
  }
}
