#healthierContent
{
  margin: auto;
  text-align: center;

  h2{
    color: #138175;
  }
  
  hr{
      border: 5px solid #F18182;
      border-radius: 25px;
      width: 150px;
  }
  .column{
    max-width: 100px;
  }
}
     
.illustration{
  position: absolute;
  right: -50%;
  width: 300px;
  top: 250px;
}

  