@import "~@the-coin/site-base/styles/variables.less";

#healthierContent
{
  margin: auto;
  text-align: center;

  .numberContent{
    h2{
      color: @theCoinPaletteGreen4;
    }
  }
  
  hr{
      border: 5px solid @theCoinPaletteRed2;
      border-radius: 25px;
      width: 150px;
  }
  .column{
    max-width: 100px;
  }
}
     
.illustration{
  position: absolute;
  right: -50%;
  width: 300px;
  top: 250px;
}

  