@import "~@the-coin/site-base/styles/variables.less";

#footerContainer{
  padding: 50px;
  background-image: url("./images/footer_background.svg");
  width: 100%;
  color: @white;
  font-weight: @light;
  text-align: left;
  .footerItems > li {
    display: inline-block;
  }
  button{
    background-color: @theCoinPaletteGreen3;
  }
}    
.footerText{
  color: white;
  padding: 50px;
} 
