#mainContent{
  margin: 30px;
  margin-bottom: 50px;
}

.pageMainInner {
  min-height: 250px;
  padding: 0em;
}

.pageMainInner > div {
  width: inherit;
  height: inherit;
}

@media only screen and (max-width: 750px) {
  #mainContent{
    margin: 10px;
    margin-bottom: 30px;
  }
}