@value TransitionDuration, SidebarWidth from "styles/constants.css";

.mainPageContainer {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.mainPageContainer > div {
  transition-duration: TransitionDuration !important;
}

.mainPageSidebar {
  width: SidebarWidth !important;
}

.mainPagePusherOut {
  transform: translate3d(SidebarWidth, 0, 0) !important;
}
