@import "~@the-coin/site-semantic-theme/variables.less";

.appBorders{
    border-radius: @absoluteBorderRadius;
    border-color: @theCoinPalettePaleGreen2Faded50;
}

.appShadow{
    box-shadow: @subtleShadow;
}

.appContainerPadding{
    padding: 30px;
}

.appContainer{
    border-radius: @absoluteBorderRadius;
    border: 1px solid @theCoinPalettePaleGreen2Faded50;
    background-color: @white;
    box-shadow: @subtleShadow;
    &.topRightFlat{
        border-top-left-radius: initial;
    }
}
