@import "~@thecointech/site-semantic-theme/variables.less";

.containerFaq{
    width: 50%;
    max-width: 600px;
    margin: auto;
}

#menuFaq{
    a {
        color: @theCoinPaletteGreen5;
        text-transform: none;
        padding-bottom: 0px;
        border-bottom: none;
        font-size: @fontSize;
        padding: 5px;
        width: 100%;
        display: block;
    }
}

.smallerThanDesktop({
    #menuFaq{
        a {
            text-align: center;
        }
    }
    .containerFaq{
        width: 100%;
    }
  });