version: '3.8'
services:
  tx-processor:
    build: .
    environment:
      - CONFIG_NAME=${CONFIG_NAME:-prod}
      - RBCAPI_CREDENTIALS_PATH=/run/secrets/rbc_credentials
      - FIRESTORE_CREDENTIALS_PATH=/run/secrets/firestore_credentials
    secrets:
      - source: rbc_credentials_runtime
        target: rbc_credentials
      - source: firestore_credentials_runtime
        target: firestore_credentials

secrets:
  rbc_credentials_runtime:
    external: true
  firestore_credentials_runtime:
    external: true
