[Unit]
Description=Scheduled Tx-Processor
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/etc/tx-processor
ExecStart=/usr/bin/docker compose up --remove-orphans
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
