@import "~@the-coin/site-base/styles/variables.less";

#underwaterPart{
  a{
    color: @theCoinPaletteDarkBlue2 !important;
    border-color: @theCoinPaletteRed2 !important;
    &:hover{
      color: @theCoinPaletteDarkBlue1 !important;
    }
    &:active{
      color: @theCoinPaletteDarkBlue3 !important;
    }
  }
}

.content{
  z-index: 10;
  padding-top: 120px;
}

.landscapeUnderwater{
  padding-top: 50px;
  max-width: 100%;

  .waterMobile{
    position: relative;
    z-index: -1;
    margin-top: -1280px;
    width: 100%;
  }
  .header{
    text-align: center;
    z-index: 10;
  }
}

.illustrationDecoMobile{
  position: fixed;
  right: 20px;
  width: 40%;
}

.mobileLine{
  p{
    max-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
  }
}

