@import "~@the-coin/site-semantic-theme/variables.less";

.content{
  z-index: 10;
  padding-top: 120px;
}

.landscapeUnderwater{

  h4, h4.ui.header{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  max-width: 100%;

  .waterMobile{
    position: relative;
    z-index: -1;
    margin-top: -1111px;
    width: 100%;
  }
  .header{
    text-align: center;
    z-index: 10;
  }
}

.illustrationDecoMobile{
  position: fixed;
  right: 20px;
  width: 40%;
}

.mobileLine{
  p{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
  }
}

