@import "~@the-coin/site-semantic-theme/variables.less";

.containerVerify{
    border: 1px solid @theCoinPaletteGray1Faded10;
    border-radius: @absoluteBorderRadius;
    padding: 20px;
    img{
        min-width: 32px;
        width: 32px;
        margin: auto;
    }
}
