@import "~@the-coin/site-base/styles/variables.less";

.graphBackground{
    padding: 20px;
    margin: auto;
    color: @white;
    background: url("images/graph-background.svg");
    h5{
        color: @white !important;
    }
}