@import "~@the-coin/site-base/styles/variables.less";

.graphBackground{
    border-radius: 10px;
    padding: 30px;
    height: 350px;
    margin: auto;
    color: @white;
    background: url("images/graph-background.svg") no-repeat center bottom;
    background-size: cover;
    h5{
        color: @white !important;
    }
}