.HeaderContainer {
  display: flex;
  align-items: center;
}

.LogoImage {
  margin-left: auto;
}

.PaymentMethod {
  margin: 10px;
}

.Clear {
  clear: both;
}

.fixedColumn {
  flex: 0 0 100px;
}

.floatColumn {
  flex: 1;
}

.wrapper {
  padding: 3rem;
}
