[submodule "the-pricing"]
	path = the-pricing
	url = https://tnadevelopment.visualstudio.com/DefaultCollection/TheCoin/_git/the-pricing
[submodule "the-contract"]
	path = the-contract
	url = https://tnadevelopment.visualstudio.com/DefaultCollection/TheCoin/_git/the-contract
[submodule "the-website"]
	path = the-website
	url = https://tnadevelopment.visualstudio.com/DefaultCollection/TheCoin/_git/the-website
[submodule "tapcap-manager"]
	path = tapcap-manager
	url = https://tnadevelopment.visualstudio.com/DefaultCollection/TheCoin/_git/tapcap-manager
[submodule "tapcap-supplier"]
	path = tapcap-supplier
	url = https://tnadevelopment.visualstudio.com/DefaultCollection/TheCoin/_git/tapcap-supplier
[submodule "broker-cad"]
	path = broker-cad
	url = https://tnadevelopment.visualstudio.com/DefaultCollection/TheCoin/_git/broker-cad
[submodule "the-app"]
	path = the-app
	url = https://tnadevelopment.visualstudio.com/DefaultCollection/TheCoin/_git/the-app
[submodule "the-utilities"]
	path = the-utilities
	url = https://tnadevelopment.visualstudio.com/DefaultCollection/TheCoin/_git/the-utilities
[submodule "the-core-admin"]
	path = the-core-admin
	url = https://tnadevelopment@dev.azure.com/tnadevelopment/TheCoin/_git/the-core-admin
