geth
details.txt
types/node_modules/
node_modules/
wallets/
*.log
**/tsconfig.tsbuildinfo
shared-components/build/
libs/utils-ts/lib/
apis/broker/ts/dist/
packages/
build/
apps/admin/app/containers/BrokerTransferAssistant/secret.json
apps/broker-service/obj/
apps/broker-service/src/exchange/secret.json
apps/broker-service/src/exchange/AutoMailer.secret.json
