[submodule "tapcap-manager"]
	path = tapcap-manager
	url = https://tnadevelopment.visualstudio.com/DefaultCollection/TheCoin/_git/tapcap-manager
[submodule "tapcap-supplier"]
	path = tapcap-supplier
	url = https://tnadevelopment.visualstudio.com/DefaultCollection/TheCoin/_git/tapcap-supplier
[submodule "the-app"]
	path = the-app
	url = https://tnadevelopment.visualstudio.com/DefaultCollection/TheCoin/_git/the-app
[submodule "the-core-admin"]
	path = the-core-admin
	url = https://tnadevelopment@dev.azure.com/tnadevelopment/TheCoin/_git/the-core-admin
