geth
details.txt
**/node_modules/
wallets/
*.log
**/tsconfig.tsbuildinfo
**/build/
**/coverage/
libs/utils-ts/lib/
apis/broker/ts/dist/
apps/broker-service/obj/
apps/broker-service/dist/
apps/rates-patcher/thecoincore-212314-6f71b16407ed.json
apps/admin/app/autodeposit/account.json
apps/rates-patcher/data1m.json
apps/rates-patcher/data5m.json
**/*secret.json
/secrets

!**/summary.txt
libs/contract/src/deployed/
apps/tx-processor/src/account.json
libs/tx-processing/src/gmail.json
libs/tx-processing/src/BrokerTransferAssistant/BrokerTransferAssistantWallet.json

**/*.module.css.map
**/site/**/HomePage/**/*.module.css
libs/shared/ipfs/
libs/shared/orbitdb/
.dccache
apps/admin/app/containers/gmail/credentials.json
libs/tx-processing/src/deposit/gmail.json
.env
apps/reconciliation/src/data/data.cache.json
tools/credentials.env
.DS_Store
apps/.DS_Store
libs/shared/src/containers/Widgets/.DS_Store
