registry=https://tnadevelopment.pkgs.visualstudio.com/_packaging/the-coin/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 2019-12-24.
; begin auth token
//tnadevelopment.pkgs.visualstudio.com/_packaging/the-coin/npm/registry/:username=the-coin
//tnadevelopment.pkgs.visualstudio.com/_packaging/the-coin/npm/registry/:_password=bjZhNTU0eXM1c3Bzb3c3Z21zZXZ6b3Nqbm82MnkzYmducnRsaDJwcWxueHpmcXp4MmVxcQ==
//tnadevelopment.pkgs.visualstudio.com/_packaging/the-coin/npm/registry/:email=npm requires email to be set but doesn't use the value
//tnadevelopment.pkgs.visualstudio.com/_packaging/the-coin/npm/:username=the-coin
//tnadevelopment.pkgs.visualstudio.com/_packaging/the-coin/npm/:_password=bjZhNTU0eXM1c3Bzb3c3Z21zZXZ6b3Nqbm82MnkzYmducnRsaDJwcWxueHpmcXp4MmVxcQ==
//tnadevelopment.pkgs.visualstudio.com/_packaging/the-coin/npm/:email=npm requires email to be set but doesn't use the value
; end auth token