.navContainer {
}
.mainMenu {
  height: 64px;
  font-size: 16px;
  justify-content: flex-end;
  background: #4b65b4;
}
.subscribe {
  position: absolute;
  left: 2%;
  top: 18%;
}

.ui.menu .item {
}
