.header {
  font-family: 'Lato', sans-serif !important;
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  text-align: center;
  margin: 35px 0px;
}

.label {
  background: none !important;
  color: white !important;
  font-weight: 300 !important;
  font-size: 2rem !important;
  padding-left: 0px !important;
}

.button button {
  border: 1px solid white !important;
}

.getinfo {
  text-align: center;
}

.teaser {
  width: 62%;
  margin: auto !important;
}

input {
  font-size: 1.7rem !important;
  padding: 13px !important;
}
