@import "~@thecointech/site-semantic-theme/variables.less";

.contactMessageLine{
    display: inline-block;
    color: @theCoinPaletteGreen5;
    > div{
        background-color: @theCoinPalettePaleGreen2Faded50;
        border-radius: @absoluteBorderRadius;
        padding: 10px;
        max-width: 220px;
        margin: auto;
        min-height: 60px;
    }
}

.contactAnswerLine{
    display: inline-block;
    color: @theCoinPaletteGreen5;
    width: 470px;
    .messageZone{
        display: inline-block;
        background-color: @theCoinPaletteGray1Faded30;
        border-radius: @absoluteBorderRadius;
        padding: 10px;
        max-width: 220px;
        margin: auto;
        min-height: 60px;
    }
}

.userMessageContainer{
    float: right;
}

.contactAvatarLine{    
    display: inline-block;
    width: 60px;
    position: relative;
    margin-left: 20px;
    &.answer{
        position:initial;
        margin-left: 0;
    }
}


.contactFormLine::after,.contactMessageLine::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid @theCoinPalettePaleGreen2Faded50;
    border-bottom: 10px solid transparent;
    display: inline-flex;
    right: -81px;
    position: relative;
    top: -40px;
}

.contactAnswerLine::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid @theCoinPaletteGray1Faded30;
    border-bottom: 10px solid transparent;
    display: inline-flex;
    right: -60px;
    position: relative;
    top:-10px;
}


.contactMessageLine::after {    
    left: 15px;
    float: right;
}


.message{
    font-weight: 600;
}

.infosRight{
    margin-top: 10px;
    font-size: @fontSizeSmall;
    text-align: right;
    color: @theCoinPaletteGray1;
}
