@import "~@thecointech/site-semantic-theme/variables.less";

.userMessageContainer{
    float: right;
    .contactMessageLine{
        display: inline-block;
        color: @theCoinPaletteGreen5;
        > div{
            background-color: @theCoinPalettePaleGreen2Faded50;
            border-radius: @absoluteBorderRadius;
            padding: 10px;
            max-width: 220px;
            margin: auto;
            min-height: 60px;
        }
        &::after {
            content: "";
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-left: 15px solid @theCoinPalettePaleGreen2Faded50;
            border-bottom: 10px solid transparent;
            display: inline-flex;
            position: relative;
            top: -40px;   
            left: 15px;
            float: right;
        }
    }
}

.contactAnswerLine{
    display: inline-block;
    color: @theCoinPaletteGreen5;
    width: 100%;
    .messageZone{
        display: inline-block;
        background-color: @theCoinPaletteGray1Faded30;
        border-radius: @absoluteBorderRadius;
        padding: 10px;
        max-width: 220px;
        margin: auto;
        min-height: 60px;
    }
    &::before {
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 15px solid @theCoinPaletteGray1Faded30;
        border-bottom: 10px solid transparent;
        display: inline-flex;
        right: -60px;
        position: relative;
        top:-10px;
    }
}

.contactAvatarLine{    
    display: inline-block;
    width: 60px;
    position: relative;
    margin-left: 20px;
    &.answer{
        position:initial;
        margin-left: 0;
    }
}

.message{
    font-weight: @semibold;
}

.infosRight{
    margin-top: 10px;
    font-size: @fontSizeSmall;
    text-align: right;
    color: @theCoinPaletteGray1;
}
