.background {

  // Cover entire landscape area
  grid-area: landscape;
  grid-column-start: left;
  grid-column-end: right;
  z-index: -10;
  height: 701px;
  position: relative;


  > img {
    position: absolute;
    right: 0%;
    transform: translateX(0%);
  }
  .sunAura{
    mix-blend-mode: screen;
  }
}
