@import "~@thecointech/site-semantic-theme/variables.less";

#stickers{
  margin-left: 5%;
  &.cardContainer{
    padding-left: 10px;
  }
  &.cardContainerMobile{
    top: 50%;
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    .card{
      max-width: 100%;
      padding: 30px !important;
      margin-top: 25px !important;
    }
  }
}

.card{
  background-color: @white;
  border-radius: 15px;
  border: 0.2px solid @theCoinPalettePaleGreen2;
  padding: 40px;
  z-index:10;
  max-width: 300px;
}
