@import "~@thecointech/site-semantic-theme/variables.less";

.stickers{

  display: flex;

  .card {
    background-color: @white;
    border-radius: 15px;
    border: 0.2px solid @theCoinPalettePaleGreen2;
    padding: 34px 0px 34px 40px;
    max-width: 320px;
    margin-right: 32px;

    > h4 {
      margin-bottom: 10px;
    }
  }

  .smallScreen({
    .card {
      margin-top: 30px;
      margin-right: 0px;
      max-width: 75%;
      min-width: 319px;
      padding: 30px 25px 30px 30px;
    }
    flex-direction: column;
    align-items: center;
  });
}

