#stickers{
  margin-left: 6%;
  &.cardContainer{
    padding-left: 10px;
  }
  &.cardContainerMobile{
    top: 650px;
    position: fixed;
    padding-left: 5%;
    .card{
      max-width: 95%;
      padding: 30px !important;
      margin-top: 25px !important; 
    }
  }
}
 
.card{
  background-color: white;
  border-radius: 15px;
  border: 0.2px solid #61C1B8;
  padding: 40px;
  z-index:10;
  max-width: 300px;
} 
  