@import "~@thecointech/site-semantic-theme/variables.less";

.columnRightBottom{
  grid-area: widget-bottom;

  width: 100%;

    .smallerThanDesktop({
        margin: auto;
        position: initial;
        float: initial;
    });
    .biggerThanMostComputer({
        left: 71%;
    });
}
