@import "~@thecointech/site-semantic-theme/variables.less";

.learnMoreLink {
  font-size: 12px;
  font-weight: @bold;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid @primaryColor;
}
