#healthier{
  margin-top: 50px;
}

.center {
  justify-content: center;
  margin-bottom: 30px;
}

.wrapper{
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 700px;
  margin: auto;

  h2{
    margin-top: 30px;
    color: #138175;
  }
  
  .content{
    hr{
      border: 5px solid #F18182;
      border-radius: 25px;
      width: 150px;
      margin-top: 60px;
      margin-bottom: 50px;
    }
    .column{
      max-width: 100px;
    }
  }
  .illustration{
    position: absolute;
    right: -50%;
    width: 300px;
    top: 250px;
  }
}

.ui.header .content{
  margin-top: 50px;
}
