#healthier{
  margin-top: 50px;
}

.center {
  justify-content: center;
  margin-bottom: 30px;
}

.wrapper{
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 700px;
  margin: auto;
}

.ui.header .content{
  margin-top: 50px;
}
