.subscribeBlock{
    display:flex;
    flex-direction: column;
    justify-items: center;
    color: white;
  }
  
  .subscribe {
    position: absolute;
    left: 2%;
  }
  
  .subContainer {
    margin: auto;
    text-align: center;
  }
  
  .search {
    margin-left: auto;
    margin-right: auto;
  }
  