@import "~@the-coin/site-semantic-theme/variables.less";

#editableInfo{
    input:read-only {
        border: 1px solid transparent !important;
        &:hover{
            box-shadow: 0 0 0 0 transparent !important;
        }
      }

      .edit{
          margin-left: 10px;
          position: relative;
          text-transform: uppercase;
          color: @theCoinPalettePaleGreen2;
      }
}