@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap');

*{
	margin: 0;
	padding: 0;
  border: none;
  box-shadow: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  background: transparent;
  color: inherit;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

section {
  margin: 30px;
  align-content: center;
}

button.ui.button {
    border: 2px solid white;
    margin-bottom: 40px;
    padding: 1rem 3rem;
    margin-top: 32px;
    color: white;
}
.h1 {
  font-weight: 300;
  font-size: 2.7rem;
}
.centerh3 {
  font-weight: 300;
  font-size: 2rem;
  color: #002c8e;
  line-height: 3rem;
  margin-bottom: 1em;
  margin-top: 70px;
}
.centerh3 span {
  font-weight: 500;
}
.h3 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.h3 span {
  font-weight: 500;
}
.h3right {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  max-width: 540px;
}
.h3left {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  max-width: 540px;
}
.gridWrapper {
  text-align: center;
}
.links {
  font-weight: bold;
}
.topMargin {
  margin-top: 7rem;
}

/* --- RetunProfile ---*/
.header {
    font-size: 2.5rem;
    font-weight: 300;
    color: white;
    text-align: center;
    margin: 35px 0px;
  }
  .label {
    color: white;
    font-weight: 300;
    font-size: 2rem;
    padding-left: 0px;
  }
  .button button {
    border: 2px solid white;
    margin-bottom: 40px;
    padding: 1rem 3rem;
    margin-top: 32px;
  }
  .getinfo {
    text-align: center;
  }
  .teaser {
    width: 62%;
    margin: auto;
  }

  /* --- HowItWorks --- */

  .icons {
    max-width: 70%;
  }
  .h1 {
    font-weight: 300;
    font-size: 3rem;
    color: #002c8e;
    line-height: 3rem;
    margin-top: 20px;
  }
  .h2 {
    font-weight: 300;
    font-size: 1.6rem;
    color: #002c8e;
    line-height: 3rem;
    margin-bottom: 1em;
  }
  
  .center {
    justify-content: center;
    margin-bottom: 30px;
  }
  .list {
    font-size: 22px;
    color: #4949a2;
    font-size: 1.6rem;
    font-weight: 300;
    padding-left: 61px;
    font-style: italic;
  }