#wrapper {

  width: 100%;
  :global(.tui-image-editor-header-logo) {
    display: none
  }
  :global(.tui-image-editor-help-menu) {
    transform: none;
    left: 16px;
  }
  :global(.tui-image-editor-download-btn) {
    display: none;
  }
}
