/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'thecoin';
@reset       : 'thecoin';

/* Elements */
@button      : 'thecoin';
@container   : 'thecoin';
@divider     : 'thecoin';
@flag        : 'thecoin';
@header      : 'thecoin';
@icon        : 'thecoin';
@image       : 'thecoin';
@input       : 'thecoin';
@label       : 'thecoin';
@list        : 'thecoin';
@loader      : 'thecoin';
@placeholder : 'thecoin';
@rail        : 'thecoin';
@reveal      : 'thecoin';
@segment     : 'thecoin';
@step        : 'thecoin';

/* Collections */
@breadcrumb  : 'thecoin';
@form        : 'thecoin';
@grid        : 'thecoin';
@menu        : 'thecoin';
@message     : 'thecoin';
@table       : 'thecoin';

/* Modules */
@accordion   : 'thecoin';
@checkbox    : 'thecoin';
@dimmer      : 'thecoin';
@dropdown    : 'thecoin';
@embed       : 'thecoin';
@modal       : 'thecoin';
@nag         : 'thecoin';
@popup       : 'thecoin';
@progress    : 'thecoin';
@rating      : 'thecoin';
@search      : 'thecoin';
@shape       : 'thecoin';
@sidebar     : 'thecoin';
@sticky      : 'thecoin';
@tab         : 'thecoin';
@transition  : 'thecoin';

/* Views */
@ad          : 'thecoin';
@card        : 'thecoin';
@comment     : 'thecoin';
@feed        : 'thecoin';
@item        : 'thecoin';
@statistic   : 'thecoin';

/*******************************
            Folders
*******************************/

/* Path to npm semantic package */
@packageFolder : "@{projectRoot}/node_modules/semantic-ui-less/themes";

/* Path to theme packages */
@themesFolder : "@{projectRoot}/src/semantic";

/* Path to site override folder
 This is expected to be passed in by the calling site.
@siteFolder  : "@{projectRoot}/src/semantic/@{site_name}";
*/
/*******************************
         Import Theme
*******************************/

@import (multiple) "@{projectRoot}/src/semantic/theme.less";

/*
  If compiling using webpack, and seeing the
  issue of duplicate "./themes/themes" in font paths,
  enable the following override to make the
  paths compliant with webpack module resolution.
  See: https://github.com/Semantic-Org/Semantic-UI-LESS/pull/42
*/

@fontPath : "../../default/assets/fonts";

/* End Config */
