.mainMenu{
    padding: 2px;
    width: auto;
    display: inline-block;
    height: 20px;
    margin-bottom: 30px;
    .item{
        border-bottom: none;   
    }
    .ui.text.menu{
        height: 80px;
    }
}

#mainMenuContainer{
    height: 80px;
    padding: 15px;
}

#logoLink{
    border-bottom: none;
    #logo{
        width: 150px;
        padding-left: 10px;
        margin-right: 10px;
        opacity: 0.8;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        &:hover{
            opacity: 1;
        }
    }
}