@import "~@the-coin/site-base/styles/variables.less";

.graphBackground{
    border-radius: @absoluteBorderRadius;
    // position: relative;
    padding: 30px;
    height: 350px;
    margin: auto;
    color: @white;
    background: url("./background.png") no-repeat center bottom;
    background-size: cover;
    h5{
        color: @white !important;
    }
}
