@import "~@thecointech/site-semantic-theme/variables.less";

.graphBackground{
    border-radius: @absoluteBorderRadius;
    // position: relative;
    padding: 30px;
    height: 350px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    color: @white;
    background: url("./background.png") no-repeat center bottom;
    background-size: cover;
    h5{
        color: @white !important;
    }
}
