
  .center {
    justify-content: center;
  }
  .wrapper{
    max-width: 700px;
    margin: auto;
  
    #healthierContent.content{
      .numberContent{
        h2{
          color: #138175;
        }
      }
      hr{
        position: relative;
        border: 5px solid #F18182;
        border-radius: 25px;
        width: 150px;
      }
      .column{
        max-width: 100px;
      }
      div{
        min-height: 50px;
      }
    }
  }
  
  .illustrationLeft{
    position: absolute;
    bottom: 165px;
    left: 0px;
  }
  .illustrationRight{
    position: absolute;
      right: 0px;
      top: 480px;
  }