.header {
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  text-align: center;
  margin: 35px 0px;
}

.label {
  color: white;
  font-weight: 300;
  font-size: 2rem;
  padding-left: 0px;
}

.button button {
  border: 2px solid white;
  margin-bottom: 40px;
  padding: 1rem 3rem;
  margin-top: 32px;
}

.getinfo {
  text-align: center;
}

.teaser {
  width: 62%;
  margin: auto;
}
