.footer{
  background-image: url("./images/footer_background.svg");
  .footerItems > li {
    margin-left: 15px;
    display: inline-block;
  }
}    
.footerText{
  margin-top: 100px;
  max-width: 95%;
  color: white;
  padding: 50px;
} 