@import "~@the-coin/site-semantic-theme/variables.less";

.columnRightBottom{
    float: right;
    top: 380px;
    position: fixed;
    left: 82%;
    .smallerThanDesktop({
        margin: auto;
        position: initial;
        float: initial;
    });
    .biggerThanMostComputer({
        left: 71%;
    });
}
