@import "~@the-coin/site-semantic-theme/variables.less";

.columnRightBottom{
    float: right;
    top: 380px;
    position: fixed;
    right: 2%;
    .smallerThanDesktop({
        margin: auto;
        position: initial;
        float: initial;
    });
}
