@import "~@the-coin/site-base/styles/variables.less";

.columnRightBottom{
    float: right;
    top: 300px;
    position: absolute;
    right: 2%;
    .smallerThanDesktop({
        margin: auto;
        position: initial;
        float: initial;
    });
}