
.container {
  margin: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  // max-width: 50rem;
  min-width: 40rem;
  height: calc(100% - 4rem);
  background-image: url('./home-bg.svg');
  // background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // object-fit: fill;
  background-position: center;

}
