.container {
  max-width: unset;
  height: calc(100% - 4rem);
  background-image: url('./home-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
