@import "~@thecointech/site-semantic-theme/variables.less";

#underwaterPart{
  h2, h2.ui.header{
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  a{
    color: @theCoinPaletteDarkBlue2;
    &:hover{
      color: @theCoinPaletteDarkBlue1;
    }
    &:active{
      color: @theCoinPaletteDarkBlue3;
    }
  }
}

.illustration{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  margin-bottom: -240px;
  z-index: 3;
}
.content{
  z-index: 10;
  padding-top: 120px;
  div{
    margin: auto;
    max-width: 950px;
  }
}

.landscape{
  padding-top: 80px;
  .water{
    position: relative;
    z-index: -1;
    margin-top: -520px;
  }
  .header{
    text-align: center;
    z-index: 10;
  }
}

.illustrationDeco{
  position: absolute;
  right: 20px;
}
/* Chrome for the coral decoration specifically. May need another solution */
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .illustrationDeco{
    margin-top: -200px;
  }
}
@-moz-document url-prefix() {
  .illustrationDeco{
    margin-top: 0px;
  }
}
