
#pluginContainer {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  .pluginList {
    margin: 0;
  }
  .pluginItem {
    display: flex;
    align-items: center;

    .pluginStatus {
      margin-left: auto;
    }
  }
}
