registry=https://tnadevelopment.pkgs.visualstudio.com/_packaging/the-coin/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 5/9/2019.
; begin auth token
//tnadevelopment.pkgs.visualstudio.com/_packaging/the-coin/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJhM2YzODg0Ny02MjYyLTRkMmEtOTNkOC1mYWJkYmFjMGRhZGUiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNTlhMWE4YmEtZmM0Zi00ZmJlLThiZTktY2RmMTY1OGU2NDc0Iiwic2lkIjoiMjNhN2E0OWUtOTViYS00MmIxLWI0NjItOWM0YjBmZTE3ZjU2IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmM1YWE5YWNjLTI5NWQtNGE1NC05OGE3LWVlNTM3MjQ4MDJjNyIsIm5iZiI6MTU0OTY1OTM2MywiZXhwIjoxNTU3NDM1OTYzfQ.TR3ukYUmVBzxC3vgT63R6hi8uaVv_aypifj_kmG1t8L1EGhx2eJs6jeb3g-3aE3a41PUZrm34HalSY6pgMTevJAoRLpOnOfTyFGv4ePcGjfsl0DJSGhdKFwm3aaCdn7PcbyfTbXC4cZ4Y3QFykbGxNTMAuPdhFNg_STyrdpCbabP6bY2K-_fAiyomsiYK8NhDjUaovJ_j6j9yURGYjQjvpUE1cPhTFRnAlLyZyTYeoIhKHbOe4ykEcl6bpiCx2birzlHF4Ez0msTq-GvNvlO6OsrY6A3RpNE4RHvBvZtB5f0jrF-_ASIz7C9CK7UHuDealcIVq_rmkCoy0KliwbfMA
//tnadevelopment.pkgs.visualstudio.com/_packaging/the-coin/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJhM2YzODg0Ny02MjYyLTRkMmEtOTNkOC1mYWJkYmFjMGRhZGUiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNTlhMWE4YmEtZmM0Zi00ZmJlLThiZTktY2RmMTY1OGU2NDc0Iiwic2lkIjoiMjNhN2E0OWUtOTViYS00MmIxLWI0NjItOWM0YjBmZTE3ZjU2IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmM1YWE5YWNjLTI5NWQtNGE1NC05OGE3LWVlNTM3MjQ4MDJjNyIsIm5iZiI6MTU0OTY1OTM2MywiZXhwIjoxNTU3NDM1OTYzfQ.TR3ukYUmVBzxC3vgT63R6hi8uaVv_aypifj_kmG1t8L1EGhx2eJs6jeb3g-3aE3a41PUZrm34HalSY6pgMTevJAoRLpOnOfTyFGv4ePcGjfsl0DJSGhdKFwm3aaCdn7PcbyfTbXC4cZ4Y3QFykbGxNTMAuPdhFNg_STyrdpCbabP6bY2K-_fAiyomsiYK8NhDjUaovJ_j6j9yURGYjQjvpUE1cPhTFRnAlLyZyTYeoIhKHbOe4ykEcl6bpiCx2birzlHF4Ez0msTq-GvNvlO6OsrY6A3RpNE4RHvBvZtB5f0jrF-_ASIz7C9CK7UHuDealcIVq_rmkCoy0KliwbfMA
; end auth token