@import "~@thecointech/site-semantic-theme/variables.less";

.columnRightTop{
    float: right;
    top: 80px;
    position: fixed;
    left: 82%;
    .smallerThanDesktop({
        top: 110px;
        margin: auto;
        position: initial;
        float: initial;
        margin-top: 30px;
    });

    .biggerThanMostComputer({
        left: 71%;
    });
}
