@import "~@the-coin/site-semantic-theme/variables.less";

.columnRightTop{
    float: right;
    top: 80px;
    position: fixed;
    right: 2%;
    .smallerThanDesktop({
        margin: auto;
        position: initial;
        float: initial;
        margin-top: 20px;
    });
}
