@import "~@the-coin/site-base/styles/variables.less";

.columnRightTop{
    float: right;
    top: 20px;
    position: relative;
    right: 2%;
    .smallerThanDesktop({
        margin: auto;
        position: initial;
        float: initial;
    });
}
