.variablesLabelContainer{
  font-weight: bold;
  text-align: left;
  margin-left: 15%;
}

.variablesLabelValueContainer{
  font-weight: bold;
  text-align: right;
  padding-right: 10%;
}

input[type=range]{
    max-width: 350px;
    min-width: 250px;
}

.variablesScaleContainer{
    font-size: 10px;
    margin-top: -20px;
}  