@import "~@the-coin/site-semantic-theme/variables.less";

.currencyChoices{
    display: inline-block;
    [type=radio]{
        margin-right: 5px;
    }
    label{
        margin-right: 20px;
    }
}
