@import "~@the-coin/site-semantic-theme/variables.less";

.currencyChoices{
    display: inline-block;
    [type=radio]{
        margin-right: 5px;
    }
    label{
        margin-right: 20px;
    }
}

#personalInfo{
    input:read-only {
        border: 1px solid transparent !important;
        &:hover{
            box-shadow: 0 0 0 0 transparent !important;
        }
      }

      .edit{
          margin-left: 10px;
          position: relative;
          color: @theCoinPalettePaleGreen2;
      }
}
