#advantages{
  grid-area: advantages;
  background-image: url('./images/background.svg');
  background-repeat: repeat;
  color: #FFFFFF;
  #advantageContent{
    padding-top: 4%;
  }
  h1,h2,h3,h4{
    display: inline;
    margin: 0;
    color: #FFFFFF;
  }
  div{
    &.row{
      padding: 0;
    }
  }
  hr.advantagesLines{
    color: #ffffff;
  }
}

