@import "~@thecointech/site-semantic-theme/variables.less";

#advantages{
  grid-area: advantages advantages;
  grid-column-start: left;
  grid-column-end: right;
  background-image: url('./images/background.svg');
  background-repeat: repeat;
  background-position: center;
  color: #FFFFFF;

  .smallScreen({
    background-color: @theCoinPaletteGreen4;
    // TODO: Replace this with common lines/solid pattern in base folder
    background-image: url('./images/2block_pattern.svg');
  });

  .content {
    height: 100%;
    margin: 0;
    padding: 50px 0;

    .smallScreen({
      padding: 40px 0;
    });

    h1,h2,h3,h4{
      display: inline;
    }
    div {
      white-space: nowrap;
    }
    hr.advantagesLines{
      color: #ffffff;
    }
  }
}

