@import "~@the-coin/site-base/styles/variables.less";

.selectableCards{
  display: inline-flex;
  width: 20%;

  /* HIDE RADIO */
  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
  [type=radio] + label {
    cursor: pointer;
    border: 1px solid @theCoinPaletteGreen4Faded;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
  }

  /* CHECKED STYLES */
  [type=radio]:checked + label {
    box-shadow: 0px 0px 0px 2px @theCoinPaletteGreen4 inset !important;
    background-color: @theCoinPaletteGreen4Faded;
    border-radius: 10px;
    padding: 20px;
  }
}

