
  .center {
    justify-content: center;
    margin-bottom: 30px;
  }
  .wrapper{
    margin-bottom: 100px;
    max-width: 700px;
    margin: auto;
  
    #healthierContent.content{
      padding-top: 50px !important;
      padding-bottom: 100px !important;
      h1.ui{
        margin-top: 150px !important;
      }
      h2{
        margin-top: 30px;
        color: #138175;
      }
      hr{
        position: relative;
        border: 5px solid #F18182;
        border-radius: 25px;
        width: 150px;
        margin-top: 10px;
      }
      .column{
        max-width: 100px;
      }
      div{
        min-height: 50px;
      }
    }
  }
  
  .illustrationLeft{
    position: absolute;
    bottom: 165px;
    left: 0px;
  }
  .illustrationRight{
    position: absolute;
      right: 0px;
      top: 480px;
  }



.ui.header .content{
  margin-top: 50px;
}
