@import "~@thecointech/site-semantic-theme/variables.less";

.contactusForm{
    background-color: @theCoinPalettePaleGreen2Faded50;
    border-radius: @absoluteBorderRadius;
    padding-left: 10px;
    max-width: 350px;
    margin: auto;
    height: 100px;
    input, button{
        display: inline;
        float: left;
        margin: auto;
    }
    button{
        right: -70px;
        position: relative;
        top: -6px;
        height: 70px;
    }
}