.clientSelect {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.clientContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

.transactionList {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
}
