@import "~@thecointech/site-semantic-theme/variables.less";

.addAccountWrapper {
  max-width: 700px;
  margin: auto;
}
#choices{
  img{
      max-width: 140px;
  }
  .soon{
      margin-top: -40px;
  }
  a{
      text-transform: none;
      color: @theCoinPaletteGreen5;
      border-bottom: none;
      h4{
        margin-top: 5px;
        text-align: center;
      }
  }
}