*{
  margin:0;
  padding:0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5;
  height: 1000px;
  color: #2B5250;
}

h1,h2,h3,h4,h5{
  font-family: 'Volkhov', cursive;
}
h1{
  font-size: 54px;
  text-align: left;
  margin-bottom: 30px;
  line-height: 64px;
}
h2{
  font-size: 54px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 64px;
}
h3{
  font-size: 40px;
  text-align: left;
  margin-bottom: 20px;
}
h4{
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
}
p{
  font-size: 20px; 
}
form{
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  margin-top: 30px;
  width: 600px;
  text-align: center;
}
input {
  width: 300px;
  background: #fff;
  color: #525865;
  border-radius: 10px;
  border: 1px solid #61C1B8;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  padding: 0.6em 1.45em 0.7em;
  -webkit-transition: .18s ease-out;
  -moz-transition: .18s ease-out;
  -o-transition: .18s ease-out;
  transition: .18s ease-out;
}
input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
input:focus {
  color: #4b515d;
  border: 1px solid #61C1B8;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}
button{
  background-color: #318161;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;
  border-radius: 10px;
}
button:hover{
  background-color: #318161;
  cursor: pointer;
}
.logo{
  background: url("./images/Logo_green.svg") no-repeat;
  height: 50px;
  margin-top: 30px;
}

.content-container{
  min-height: 300px;
  max-height: 900px;
  z-index: 100;
  margin-left: 15%;
  margin-top: 40px;
  padding-top:0;
}

.jacketPart{
  height: 800px;
}

.jacketText{
  margin-top: 150px;
  max-width: 800px;
}

.jacketText p{
  width: 58%;
  line-height: 35px;
  font-size: 20px;
}

.illustrationJacket{
  z-index: 100;
  right: 0px;
  position: absolute;
  top: 10px;
  width: 40%;
  right: -5px;
}
.illustrationJacket img{
  width: 100%;
}

.arrowPart{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 150px;
}

.facesPart{
  min-height: 900px;
}

.facesText{        
  width: 60%;
  left: 10%;
  position: relative;
}

.facesText p{
  width: 100%;
  line-height: 30px;
  font-size: 20px;
  margin-top: 20px;
}

.facesText p.smaller{
  font-size: 16px;
  color: #6F6571;
}

.facesText .logoText{
  margin-top: 35px;
}

.illustrationFaces{
  max-width: 550px;
  width: 50%;
  float: left;
}
.illustrationFaces img{
  width: 100%;
}

.weirdPart{
  height: 450px;
  background-image: linear-gradient(transparent 28%, #D9E6E2 0%);
}

.weirdPart .card{
  text-align: center;
  background-color: rgb(255, 255, 255, 0.5);
  width: 370px;
  height: 368px;
  border-radius: 20px;
  margin-left: 50px;
  display: inline-block;
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.weirdPart .card:hover{
  background-color: rgba(255, 255, 255, 0.8);
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}

.weirdPart .card img{
  margin-top: 65px;
  margin-bottom: 30px;
}

.actualContentPart{
  padding-top: 100px;
  min-height: 667px;
}

.actualContentPart p{
  padding-top: 60px;
  max-width: 770px;
  text-align: center;
  margin: auto;
  line-height: 24px;
  font-size: 16px;
}
.actualContentPart h2{
  margin-bottom: 64px;
}

.actualContentPart h4#uselessTitle{
  max-width: 770px;
  margin: auto;
  line-height: 32px;
}

.uglyFooterText{
  min-height:300px;
  width: 100%;
  background-color: #31484B;
}

.uglyFooterText h2{
  color: white;
  padding-top: 48px;
}

.uglyFooterLogo{
  height:85px;
  width: 100%;
  background-color: #012429;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 55px;
  }
  .content-container{
    left: 5%;
    top: 12%;
    width: 70%;
    height: 65%;
  }
}
@media only screen and (max-width: 1265px) and (min-width: 601px) {
  .content-container{
    left: 15%;
    top: 12%;
    width: 70%;
    height: 65%;
  }
}
@media only screen and (max-width: 3000px) and (min-width: 1669px) {

  .illustrationJacket{
    top: -20px;
    right: -30px;
  }
}
