.landscape{
  #mainWrapper{
    margin-right: 30px;
    margin-left: 40px;
    h1, div{
      z-index:-1;
    }
  }
  .birds{
    position: fixed;
    top: 200px;
    right: 30%;
  }
  .sky{
    position: fixed;
    z-index:-1;
    top: 100px;
  }

  .cloudsHigh{
    position: fixed;
    top: 50px;
    z-index:-1;
  }
  .cloudsLeft{
    position: fixed;
    top: 270px;
    z-index:0;
  }
  .cloudsRight{
    position: fixed;
    top: 380px;
    z-index:-1;
    right: 0px;
  }
  .sun{
    position: fixed;
    right: 10%;
    top: 360px;
    z-index:4;
  }
  .sunAura{
    position: fixed;
    right: 0%;
    top: 40px;
    opacity: 0.1;
    z-index:3;
    -webkit-mask-image:-webkit-gradient(linear, right bottom, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  }
  .greenery{    
    position: relative;
    z-index:9;
    margin-top: -240px;
  }
}

.landscapeMobile{
  width: 100%;
  position: relative;
  z-index:-1;
  margin-top: -650px;
}

@media only screen and (min-width: 750px) {
}

@media only screen and (max-width: 550px) {
}

@media only screen and (max-width: 750px) {
}
