@import "~@thecointech/site-semantic-theme/variables.less";

#footerContainer{
  grid-area: footer;
  padding: 5px 15px 15px 15px;
  background-image: url("./images/footer_background.svg");

  color: @white;
  font-weight: @light;
  img{
    margin-left: 5px;
    margin-right: 5px;
  }
  .footerItems > li {
    display: inline-block;
  }
}
.footerText{
  color: white;
}
