#footerContainer{
  background-image: url("./images/footer_background.svg");
  width: 100%;
  .footerItems > li {
    display: inline-block;
  }
  margin-left: 0 !important;
  margin-right: 0 !important;
}    
.footerText{
  color: white;
  padding: 50px;
} 
