@import "~@thecointech/site-semantic-theme/variables.less";

#subscribeBlock {
  padding-top   : 80px;
  display       : flex;
  flex-direction: column;
  justify-items : center;
  color         : white;

  .message {
    margin    : auto;
    text-align: center;
  }

  .subscribeForm {
    padding-top : 40px;
    margin-left : auto;
    margin-right: auto;

    button {
      margin-left: 20px;
    }

    .smallScreen( {

      width: 80%;

      > * {
        width  : 100%;
        display: block;
      }

      button, input {
        margin-left: 0;
        margin-top : 20px;
        width: 100%;
      }
    });
  }
}
