@import "~@the-coin/site-semantic-theme/variables.less";

#subscribeBlock{
    display:flex;
    flex-direction: column;
    justify-items: center;
    color: white;
    button{
      margin-left: 20px;
    }
  }

  .subscribe {
    position: absolute;
    left: 2%;
  }

  .subContainer {
    margin: auto;
    text-align: center;
  }

  .search {
    margin-left: auto;
    margin-right: auto;
  }

  .smallerThanDesktop({
    #subscribeBlock {
      div.ui.input{
        display: block;
        width: 100%;
        input{
          width: 100%;
          display: block;
        }
    }
    button{
      margin-left: 0;
      margin-top: 20px;
      width: 100%;
      display: block;
    }
  }

});
