.fadeEnter {
  opacity: 0;
  z-index: 1;
}

.fadeEnterActive {
  position: absolute;
  opacity: 1;
  transition: opacity 2500ms ease-in;
}
.fadeEnterDone {
  position: absolute;
}

.fadeExitActive {
  position: absolute;
  opacity: 0;
  transition: opacity 2500ms ease-in;
}
