.illustration{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  margin-top: 40px;
  margin-bottom: -240px;
  z-index: 3;
}
.content{
  z-index: 10;
  padding-top: 120px;
  div{
    margin: auto;
    max-width: 950px;
  }
}

.landscape{
  margin-top: 50px;
  padding-top: 80px;

  #titleUnderwater{
    margin-top: 150px;
  }

  .water{
    position: relative;
    z-index: -1;
    margin-top: -520px;
  }
  .waterMobile{
    position: relative;
    z-index: -1;
    margin-top: -1250px;
    width: 100%;
  }
  .header{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
    z-index: 10;
  }
}



.illustrationDeco{
  position: fixed;
  right: 20px;
}
