
.page {

  > div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin:auto;
    margin-top: 16px;
  }
  .submitRow {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
}

