

.headingWrapper {
  text-align: left;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 40px;
}

.mainWrapper {
  margin-left: 40px;
  margin-top: 40px;


  .column{
    margin: 20px;
    text-align: center;
    color: #3255A4;
  }

}
.h1Home{
  margin-left: 80px;
  padding-top: 40px;
}
#createAccount{
  float: right;
}

@media only screen and (min-width: 750px) {

}

@media only screen and (max-width: 550px) {

}
@media only screen and (max-width: 750px) {
  .h1Home{
    font-size: 25px;
    width: 100%;
    margin-left: 0px;
  }
  .headingWrapper {
    margin-left: 0;
    margin-top: 0;
  }
  .mainWrapper .column{
    width: 100% !important;
  }
  #subscribeBlock{
    margin:0;
    
    input{
      width: 150px;
    }

    button{
      margin:0;
    }
  }
}
