.mainWrapper {
}
.headingWrapper {
  text-align: right;
  flex-direction: column;
}

.h1 {
  font-weight: 300;
  font-size: 2.7rem;
}

.centerh3 {
  font-weight: 300;
  font-size: 2rem;
  color: #002c8e;
  line-height: 3rem;
  margin-bottom: 1em;
  margin-top: 70px;
}
.centerh3 span {
  font-weight: 500;
}

.h3 {
  font-weight: 300;
  font-size: 1.5rem;
  color: #002c8e;
  line-height: 2.5rem;
}

.h3 span {
  font-weight: 500;
}

.h3right {
  font-weight: 300;
  font-size: 1.5rem;
  color: #002c8e;
  line-height: 2.5rem;
  max-width: 540px;
}

.h3left {
  font-weight: 300;
  font-size: 1.5rem;
  color: #002c8e;
  line-height: 2.5rem;
  font-family: 'Lato', sans-serif;
  max-width: 540px;
}

.gridWrapper {
  text-align: center;
}
.links {
  font-weight: bold;
}

.topMargin {
  margin-top: 7rem;
}

.yearStart {
  top: 45%;
  left: -6%;
  font-size: 1.4rem;
}

.sproutWrapper {
  text-align: center;
}
.logoIcon {
  width: 60%;
}

.subscribeText {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 50px;
  color: #002c8e;
}

.subContainer {
  width: 70%;
  max-width: 810px;
  margin: auto;
}
