.content{
    text-align: center;
  
    .illustration{
        img{
            text-align: left;
            float: left;
        }
    }
    .underneathTheChoices{
        margin-top: 30px;
        margin-bottom: 40px;
    }

    #choices div{
        text-align: center;
    }
  }