@import "~@thecointech/site-semantic-theme/variables.less";

.contactFormLine, .contactMessageLine{
    display: inline-block;
    color: @theCoinPaletteGreen5;
    width: 400px;
    height: 130px;
    > div{
        background-color: @theCoinPalettePaleGreen2Faded50;
        border-radius: @absoluteBorderRadius;
        padding-left: 10px;
        max-width: 380px;
        margin: auto;
        height: 100px;
        input, button{
            display: inline;
            float: left;
            margin: auto;
        }
        button{
            right: -75px;
            position: relative;
            top: -10px;
            height: 80px;
            width: 100px;
        }
    }
}


.contactAvatarLine{    
    display: inline-block;
    width: 60px;
    top: -44px;
    position: relative;
    margin-left: 10px;
    &.answer{
        top: 45px;
        margin-left: 0;
    }
}

.contactFormLine::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid rgba(97, 193, 184, 0.5);
    border-bottom: 10px solid transparent;
    display: inline-flex;
    left: 5px;
    position: relative;
    top: -40px;
    float: right;
}



.messagesContainer{
    width: 85%;
    margin: auto;
}

.infosRight{
    text-align: right;
    color: @theCoinPaletteGray1;
}
