#headingWrapper{
  margin-left: 8%;
  z-index: 9;
  .overTheLandscape{
    position: inherit;
    z-index: 9;
  }
}
.landscapeContent{
  min-height: 680px;
}

.landscape{
  position: relative;
  .birds{
    position: fixed;
    top: 120px;
    right: 20%;
    z-index:0;
  }
  .sky{
    position: fixed;
    z-index:-1;
    top: 30px;
  }

  .cloudsHigh{
    position: fixed;
    top: 20px;
    z-index:-1;
    right: 10%;
  }
  .cloudsLeft{
    position: fixed;
    top: 230px;
    z-index:0;
  }
  .cloudsRight{
    position: fixed;
    top: 340px;
    z-index:-1;
    right: 0px;
  }
  .sun{
    position: fixed;
    right: 2%;
    top: 230px;
    z-index:0;
    width: 40%;
  }
  .sunAura{
    filter: invert(var(--value, 100%));
    position: fixed;
    right: -10%;
    top: 20px;
    opacity: 0.1;
    z-index:0;
    width: 75%;
  }

  .greenery{    
    position: fixed;
    z-index:9;
    top: 250px;
    right: -10%;
    float: right;
  }
}

.landscapeMobile{
  width: 100%;
  position: relative;
  z-index:-1;
  margin-top: -400px;
}