#headingWrapper{
  margin-left: 8%;
  .overTheLandscape{
    position: inherit;
    z-index: 9;
  }
}

.landscape{
  .birds{
    position: fixed;
    top: 150px;
    right: 10%;
  }
  .sky{
    position: fixed;
    z-index:-1;
    top: 80px;
  }

  .cloudsHigh{
    position: fixed;
    top: 20px;
    z-index:-1;
    right: 10%;
  }
  .cloudsLeft{
    position: fixed;
    top: 230px;
    z-index:0;
  }
  .cloudsRight{
    position: fixed;
    top: 340px;
    z-index:-1;
    right: 0px;
  }
  .sun{
    position: fixed;
    right: 8%;
    top: 350px;
    z-index:4;
  }
  .sunAura{
    filter: invert(var(--value, 100%));
    position: fixed;
    right: -10%;
    top: 15px;
    opacity: 0.1;
    z-index:0;
  }

  .greenery{    
    position: relative;
    z-index:9;
    margin-top: -280px;
    right: -10%;
    float: right;
  }
}

.landscapeMobile{
  width: 100%;
  position: relative;
  z-index:-1;
  margin-top: -400px;
}