/* -at-value TransitionDuration, SidebarWidth from "styles/constants.css"; 
  TODO: Fix global variables
  They have (for now) been dereferenced into this file
*/
.mainPageContainer {
  border-radius: 0 !important;
  border-bottom-width: 0 !important;
}

.mainPageContainer > div {
  transition-duration: 300ms !important;
}

.mainPageSidebar {
  width: 230px !important;
}

.mainPagePusherOut {
  transform: translate3d(230px, 0, 0) !important;
  width: calc(100% - 230px);
}

/* @media (max-width: 1190px) {
  .mainPagePusherOut {
    transform: translate3d(0, 0, 0) !important;
    width: 100%;
  }
} */
