.search input {
  border: 7px solid #415db0 !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.search {
  margin-bottom: 62px !important;
}

button {
  margin-left: -10px !important;
  font-weight: 300;
  font-size: 1.4rem !important;
  border: 10px solid #415db0 !important;
}
