.ui.button.mainButton {
  background-color: #415db0;
  color: white !important;
  margin: 40px 0 10px 0;
  min-width: 200px;
  font-weight: 900;
}

.landingAccount {
  background-color: #ffffff;
  border: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: #415db0;
  color: #415db0;
  margin: 40px 0 10px 0;
  padding: 16px 57px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
}
