.ui.button.mainButton {
  background-color: #415db0;
  color: white;
  margin: 20px 0 10px 0;
  min-width: 300px;
  font-weight: 900;
}

.ui.button.mainButton:hover {
  background-color: #2045b4;
  color: yellow;
}
