.balance {
  font-size: 3rem !important;
  font-weight: 300;
  color: #4b65b4 !important;
}
.have {
  font-size: 1.4rem !important;
  color: #b3b3b3;
}

.bankIcon {
  width: 34px !important;
  margin-top: -21px !important;
}

.wrapper {
  padding: 3rem !important;
}

.ui.button {
}
