@value SidebarWidth from "styles/constants.css";

.pageMainInner {
  min-height: 250px;
  padding: 3em;
}

.pageMainInner.withSidebar {
  margin-right: SidebarWidth;
}

.pageMainInner > div {
  width: inherit;
  height: inherit;
}
