.container {
  max-width: 370px;
  height: 550px;
  margin-bottom: 35px;
}

.formPane {
  height: 100%;
  background: url("images/background.svg");
  background-position: right bottom;

  overflow-y: auto;

  padding: 1rem;
  background-repeat: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  padding: 35px;

  .accordion {
    text-align: left;
  }
}

