.container {
  max-width: 370px;
  min-height: 550px;
  margin-bottom: 35px;
}

.formPane {
  height: 100%;
  background: url("images/background.svg");
  background-color: #3B968C;
  background-position: right bottom;
  background-repeat: no-repeat;

  // overflow-x: visible;
  // overflow-y: auto;

  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  padding: 35px;

  .accordion {
    text-align: left;
  }
}

