#variablesContainer{
    background: url("images/background.svg");
    background-position: right bottom;
    max-width: 370px;
    height: 550px;
    background-repeat: none;
    border-radius: 5px;
    color: white;
    padding: 35px;
  
    .buttonContainer{
      bottom: 10px;
      position:relative;
    }
}