@import "~@thecointech/site-semantic-theme/variables.less";

.contactusAvatar img{
    margin: auto;
    height: 50px;
    width: 50px;
    margin-top: -15px;
}
.contactusVerified img{
    margin: auto;
    height: 20px;
    width: 20px;
    margin-left: 35px;
    z-index: 1;
    position: relative;
}