.lineSave{
  position: relative;
  display: inline-block;
  width: 100%;

    span{
        display: inline-block;
        img{
            margin-right: 20px;
        }
        &.toggleZone{
            float: right;
            position: relative;
            top: 10px;
        }
    }
}

.localeButtons{
    float: right;
}
