@import "~@thecointech/site-semantic-theme/variables.less";

#app {
  display: grid;
  grid-template-columns: [full-start] auto [page-start] 203px [content-start] minmax(auto, 837px) [content-end] 203px [page-end] auto [full-end];
  grid-template-rows: [header-start] 60px [header-end content-start] 1fr [content-end footer-start] 32px [footer-end];
  .smallScreen({
    grid-template-rows: [header-start] 80px [header-end content-start] 1fr [content-end footer-start] 250px [footer-end];
  });
  grid-gap: 30px;
  grid-template-areas:
    "lgap header header header rgap"
    "lgap left   main   right  rgap"
    "lgap footer footer footer rgap";

  .contentContainer {
    grid-area: main;

    // Explicitly define a min-height to prevent our content
    // resizer from collapsing down if our content is too small
    min-height: 450px;
  }
}
