@import "~@thecointech/site-semantic-theme/variables.less";

#mainContent{
  padding: 20px;
  padding-left: 50px;
  width: 55%;
  margin: auto;
}

.contentContainer{
  max-width: 1300px;
  margin: auto;
}

.pageMainInner {
  min-height: 450px;
  padding: 0em;
}

#headerDecoration{
  border-bottom: 1px solid @theCoinPalettePaleGreen2Faded50;
  width: 100%;
  background-color: @white;
  box-shadow: @subtleShadow;
  
  position: fixed;
  z-index: 1;
}

.smallerThanDesktop({
  #mainContent{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin: auto;
  }
});

.biggerThanSmallComputer({
  #mainContent{
    width: 65%;
    margin-top: 50px;
  }
});
