.content{
    text-align: center;
    .illustration{
        img{
            text-align: left;
            float: left;
        }
    }
    #choices div{
        text-align: center;
    }
    .createAccountContent{
        float: right;
    }
}
#choices{
    img{
        max-width: 140px;
    }
    .soon{
        margin-top: -40px;
    }
}