#stickers{
  margin-left: 6%;
  &.cardContainer{
    padding-left: 10px;
  }
  &.cardContainerMobile{
    top: 800px;
    position: fixed;
    padding-left: 8%;
    .card{
      max-width: 350px;
      padding: 40px !important;
      margin-top: 25px !important; 
    }
  }
}
 
.card{
  background-color: white;
  border-radius: 15px;
  border: 0.2px solid #61C1B8;
  padding: 40px;
  z-index:10;
  max-width: 300px;
  margin-left: 30px;
  margin-top: 50px;
} 





  