#stickers{
  &.cardContainer{
    margin-top: 10px;
    padding: 25px;
  }
  .card{
    padding: 25px;
    margin: 20px;
    margin-right: 30px;
    background-color: white;
    border-radius: 15px;
    border: 0.2px solid #61C1B8;
    z-index:10;
    max-width: 300px;
  }
} 