
#mainPageContainer {
  border-radius: 0;
  border-bottom-width: 0;

  .minHeight {
    min-height: 500px;
    height: 100vw;
    width: calc(100vw - 150px);
  }

  > div {
    transition-duration: 300ms;
  }
}



