
#mainPageContainer {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;

  .minHeight {
    min-height: 500px;
    height: 100vh;
    width: calc(100vw - 150px);
    padding: 1rem;
    box-sizing: border-box;
  }

  > div {
    transition-duration: 300ms;
  }
}
