
.mainPageContainer {
  border-radius: 0 !important;
  border-bottom-width: 0 !important;
}

.mainPageContainer > div {
  transition-duration: 300ms !important;
}

.minHeight {
  min-height: 500px;
}
