#wedomore{
    .content{
        margin-top: 30px;
    }
    .morephotos{
        max-width: 300px;
    }
    .titlePhotos{
        margin-top: -20px;
        margin-bottom: 20px;
    }
}



.graphContainer{
    border: 1px solid #DFE0EB;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}