#wedomore{
    .content{
        margin-top: 30px;
    }
    .morephotos{
        max-width: 300px;
    }
    .titlePhotos{
        margin-top: -20px;
        margin-bottom: 20px;
    }
}

#variablesContainer{
  background: url("images/background.svg");
  width: 370px;
  height: 600px;
  background-repeat: none;
  border-radius: 5px;
  color: white;

  label[for="rangeStarting"], label[for="rangeDuration"]{
    font-size: 18px;
    font-weight: bold;
  }
}

#graphContainer{
    border: 1px solid #DFE0EB;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}