name: Run Tests

on:
  workflow_call:

env:
  YARN_CHECKSUM_BEHAVIOR: ignore
  PUPPETEER_SKIP_DOWNLOAD: true  # Skip downloading Chrome

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - run: corepack enable

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.14'
        cache: 'yarn'

    # Restore yarn cache from artifacts
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: build-artifacts

    - name: Restore yarn state
      run: |
        mkdir -p .yarn
        mv .yarn/cache .yarn/install-state.gz .yarn/ || true

    # This will be fast, using the cached dependencies
    - name: Install dependencies
      run: yarn install --immutable

    - name: Run tests
      run: yarn test --ci
      env:
        JEST_CI: true
        NODE_OPTIONS: --experimental-require-module --max_old_space_size=4096
