# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build on PR

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      YARN_CHECKSUM_BEHAVIOR: ignore
    steps:
    - name: Run start date
      run: echo "Started at $(date +'%Y-%m-%dT%H:%M:%S')"
    - uses: actions/checkout@v4
      # Java required for OpenAPI client generation
    - uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '11'
        java-package: jre # optional (jdk, jre, jdk+fx or jre+fx) - defaults to jdk
    # - uses: c-hive/gha-yarn-cache@v2
    - run: corepack enable
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.11'
        cache: 'yarn'
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        cache: 'pip'
    - name: Install dependencies
      run: yarn install --immutable
    - name: Install Python dependencies
      working-directory: ./apps/vqa-service
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Build
      env:
         # Fix OOM in build admin
        NODE_OPTIONS: "--max-old-space-size=6144"
      run: yarn build
    - name: Build Completed
      run: echo "Build done at $(date +'%Y-%m-%dT%H:%M:%S')"
    #- name: Check no build outputs changing in git
    #  run: yarn check-changes <-- this fails in CI, but we don't know why
    - name: Test all
      run: yarn test --ci
      env:
        JEST_CI: true
