name: Build and Test

on:
  pull_request:
    branches: [ dev ]
  push:
    branches: [ dev ]

this should throw an error, right?
jobs:
  build:
    uses: ../jobs/build.yml

  test:
    needs: build
    uses: ../jobs/test.yml