name: Build and Test

on:
  pull_request:
    branches: [ dev ]
  push:
    branches: [ dev ]

jobs:
  build:
    uses: ./.github/actions/build.yml

  test:
    needs: build
    uses: ./.github/actions/test.yml
