name: Build and Test

on:
  pull_request:
    branches: [ dev ]
  push:
    branches: [ dev ]

jobs:
  build:
    uses: ./.github/workflows/action-build.yml

  test:
    needs: build
    uses: ./.github/workflows/action-test.yml
