name: Publish Everything

on:
  pull_request:
    branches: [ publish/* ]
    types:
      - closed

# Cancel any in-progress job or run
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-config:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    outputs:
      config_name: ${{ steps.set-config.outputs.config_name }}
    steps:
      - id: set-config
        run: |
          BASE="${{ github.base_ref }}"
          CONFIG=${BASE#publish/}
          echo "config_name=$CONFIG" >> "$GITHUB_OUTPUT"
          echo "Config name extracted from $BASE: $CONFIG"

  print_config:
    runs-on: ubuntu-latest
    needs: get-config
    steps:
      - name: Print Config
        run: |
          echo " --- Config name: ${{ needs.get-config.outputs.config_name }}"

  build:
    needs: get-config
    uses: ./.github/workflows/action-build.yml

  publish-packages:
    permissions:
      contents: write  # For git operations and version bumps
      packages: write  # For package publishing
    needs: build # TODO: Revert back to test
    uses: ./.github/workflows/action-publish-packages.yml
    secrets: inherit

  publish-docker:
    needs: [get-config, publish-packages]
    uses: ./.github/workflows/action-publish-docker.yml
    with:
      config_name: ${{ needs.get-config.outputs.config_name }}
      commit_sha: ${{ needs.publish-packages.outputs.latest_sha }}
    secrets: inherit

  publish-services:
    needs: [get-config, publish-packages]
    uses: ./.github/workflows/action-publish-services.yml
    with:
      config_name: ${{ needs.get-config.outputs.config_name }}
      commit_sha: ${{ needs.publish-packages.outputs.latest_sha }}
    secrets: inherit

  publish-sites:
    needs: [get-config, publish-packages]
    uses: ./.github/workflows/action-publish-sites.yml
    with:
      config_name: ${{ needs.get-config.outputs.config_name }}
      commit_sha: ${{ needs.publish-packages.outputs.latest_sha }}
    secrets: inherit

  merge-to-dev:
    runs-on: ubuntu-latest
    needs: [publish-services, publish-sites, publish-docker]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: dev
      - name: Merge changes
        run: |
          git config user.name 'GitHub Actions Bot'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git fetch origin ${{ github.event.pull_request.head.ref || github.ref_name }}
          git merge origin/${{ github.event.pull_request.head.ref || github.ref_name }} -m "chore: merge ${{ github.event.pull_request.head.ref || github.ref_name }} changes to dev"
          git push origin dev
