name: Publish Everything

on:
  pull_request:
    branches: [ publish/* ]
  push:
    branches: [ publish/* ]

jobs:
  build:
    uses: ./.github/workflows/action-build.yml

  test:
    needs: build
    uses: ./.github/workflows/action-test.yml

  publish-packages:
    needs: test
    uses: ./.github/workflows/action-publish-packages.yml

  docker-build:
    needs: publish-packages
    uses: ./.github/workflows/action-docker-build.yml
