name: Publish Everything

on:
  pull_request:
    branches: [ publish/* ]
  push:
    branches: [ publish/* ]

# Cancel any in-progress job or run
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/action-build.yml

  test:
    needs: build
    uses: ./.github/workflows/action-test.yml

  publish-packages:
    needs: test
    if: github.event_name == 'push'
    uses: ./.github/workflows/action-publish-packages.yml

  docker-build:
    needs: publish-packages
    if: github.event_name == 'push'
    uses: ./.github/workflows/action-docker-build.yml
