name: Publish Everything

on:
  pull_request:
    branches: [ publish/* ]
  push:
    branches: [ publish/* ]

jobs:
  build:
    uses: ../jobs/build.yml

  test:
    needs: build
    uses: ../jobs/test.yml

  publish-packages:
    needs: test
    uses: ../jobs/publish-packages.yml

  docker-build:
    needs: publish-packages
    uses: ../jobs/docker-build.yml

