name: Publish Everything Base

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        description: 'Environment to deploy to (prodtest, prodbeta, prod)'

# Cancel any in-progress job or run
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/action-build.yml

  publish-packages:
    permissions:
      contents: write  # For git operations and version bumps
      packages: write  # For package publishing
    needs: build
    environment: ${{ inputs.environment }}
    secrets: inherit
    uses: ./.github/workflows/action-publish-packages.yml
    with:
      CONFIG_NAME: ${{ vars.CONFIG_NAME }}

  publish-docker:
    needs: publish-packages
    environment: ${{ inputs.environment }}
    uses: ./.github/workflows/action-publish-docker.yml
    with:
      CONFIG_NAME: ${{ vars.CONFIG_NAME }}
      COMMIT_SHA: ${{ needs.publish-packages.outputs.latest_sha }}
    secrets: inherit

  publish-services:
    needs: publish-packages
    environment: ${{ inputs.environment }}
    uses: ./.github/workflows/action-publish-services.yml
    with:
      CONFIG_NAME: ${{ vars.CONFIG_NAME }}
      GCP_RATES_PROJECT_ID: ${{ vars.GCP_RATES_PROJECT_ID }}
      GCP_BROKER_PROJECT_ID: ${{ vars.GCP_BROKER_PROJECT_ID }}
      COMMIT_SHA: ${{ needs.publish-packages.outputs.latest_sha }}
    secrets: inherit

  publish-sites:
    needs: publish-packages
    environment: ${{ inputs.environment }}
    uses: ./.github/workflows/action-publish-sites.yml
    with:
      CONFIG_NAME: ${{ vars.CONFIG_NAME }}
      COMMIT_SHA: ${{ needs.publish-packages.outputs.latest_sha }}
    secrets: inherit

  merge-to-dev:
    runs-on: ubuntu-latest
    needs: [publish-services, publish-sites, publish-docker]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: dev
      - name: Merge changes
        run: |
          git config user.name 'GitHub Actions Bot'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git fetch origin ${{ github.base_ref }}
          git merge origin/${{ github.base_ref }} -m "chore: merge ${{ github.base_ref }} changes to dev"
          git push origin dev

  cleanup:
    needs: [publish-services, publish-sites, publish-docker]
    uses: ./.github/workflows/action-cleanup-old-packages.yml
    secrets: inherit
