name: Test Docker Build

on:
  workflow_call:

env:
  REGISTRY: ghcr.io
  TX_PROCESSOR_IMAGE: ${{ github.repository }}/tx-processor
  VQA_SERVICE_IMAGE: ${{ github.repository }}/vqa-service

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - run: corepack enable

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.14'
          cache: 'yarn'

    # Java required for OpenAPI client generation
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
          java-package: jre

      - run: yarn install --immutable --mode=skip-build

      - run: yarn build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for tx-processor
        id: meta-tx
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.TX_PROCESSOR_IMAGE }}
          tags: |
            type=ref,event=branch
            type=sha,format=long

      - name: Prep tx-processor
        run: node --experimental-strip-types ./docker/build-docker.ts
        working-directory: ./apps/tx-processor
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push tx-processor
        uses: docker/build-push-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          context: ./apps/tx-processor
          file: ./apps/tx-processor/docker/Dockerfile
          push: true
          tags: ${{ steps.meta-tx.outputs.tags }}
          labels: ${{ steps.meta-tx.outputs.labels }}
          build-args: |
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
          secret: |
            "github_token=${{ secrets.GITHUB_TOKEN }}"
