name: Workflow C

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Use Project ID
        run: echo "CONFIG_NAME=${{ vars.CONFIG_NAME }}"
      - name: Echo secrets
        run: echo "NOT_A_REAL_SECRET=${{ secrets.NOT_A_REAL_SECRET }}"
      - name: Echo other thingy
        run: echo "GCP_BROKER_PROJECT_ID=${{ vars.GCP_BROKER_PROJECT_ID }}"