name: Workflow B

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  call-workflowC:
    uses: ./.github/workflows/test-workflowC.yml
    with:
      environment: ${{ inputs.environment }}